# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Python virtual environments
venv/
env/
ENV/
.venv/

# pipenv
Pipfile.lock

# pyenv
.python-version

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# FastAPI/Starlette temporary files
instance/

.env
backend/.env

*.sql
*.dump

eas.json
frontend/eas.json

**/migrations/
!**/migrations/__init__.py